.dropdown {
    position: relative;
    display: inline-block;
}

.instructions {
    color: #ffffff;
}

#container {
    height: 400px;
    position: relative;
    width: 400px;
}

#controls {
    bottom: 40%;
    left: 10%;
    position: relative;
    width: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}